<div class="container">
    <div class="form">
        <form #formContact="ngForm" (submit)="onSubmit(formContact)">
            <label for="name">What is your name</label>
            <input 
                class="inputs" 
                type="text"
                name="nameContact"
                #nameContact
                id=""
                placeholder="Name"
                [(ngModel)]="name">
            <label for="email">What is your email</label>
            <input 
                class="inputs"
                type="text"
                name="emailContact"
                #emailContact
                id=""
                placeholder="Email"
                [(ngModel)]="email">
            <label for="message">Type your message</label>
            <input
                class="inputs"
                name="messageContact"
                #messageContact
                id="input-message"
                placeholder="Message"
                [(ngModel)]="message">
            <input type="submit" value="Send Message" class="btn-pink">
        </form>
    </div>
    <!-- <div class="info">
        <div class="info-content">
            <h1 class="contact">Contact Information</h1>
            <div id="info-location">
                <img src="./assets/img/icons/location.svg" alt="">
                <span>
                    Guadalajara, Jalisco
                </span>
            </div>
            <div id="info-number">
                <img src="./assets/img/icons/number.svg" alt="">
                <span>
                    33-19-65-18-95
                </span>
            </div>
            <div id="info-email">
                <img src="./assets/img/icons/email.svg" alt="">
                <span>
                    <a href="mailto:salvador.sol.ssi.13@gmail.com">salvador.sol.ssi.13@gmail.com</a>
                </span>
            </div>
        </div>
    </div> -->
</div>

<app-footer></app-footer>