<div class="container cursor-purple">
    <div class="card">
        <section id="content-about-top">
            <img src="./assets/img/me-two.webp" alt="Salvador Solis">
            <div class="h1">
                <h1>Salvador Solis</h1>
            </div>
            <div class="h2">
                <h2>Web Developer</h2>
            </div>
        </section>
        <div id="description-about">
            <p class="description-p">
                I am a front-end developer in web technologies with basic back-end knowledge. Passionate and dedicated eager to work, learn new things, improve my skills and collaborate as a team.
            </p>
            <p class="description-p">
                Personally, I identify as someone patient and friendly, who always seeks to do the work efficiently and organized. In addition to always concrete my work in the best way without ever severing to learn, giving a unique and own style to each project, trying to innovate and always maintain consistency in every aspect.
            </p>
            <p class="description-p">
                I love creating innovative digital content based on my knowledge. In addition, I always try to have clear goals and achieve them, forever to remain in constant personal growth.
            </p>
        </div>
    </div>
</div>
<app-footer></app-footer>
