<footer>
    <div class="social-media">
        <a href="https://github.com/SalusSole" target="_blank" rel="noreferrer" class="cursor-border icons">
            <img src="./assets/img/icons/github.svg" alt="github" class="icons-footer">
        </a>
        <a href="https://www.linkedin.com/in/salvador-solis-6b046b204" target="_blank" rel="noreferrer" class="cursor-border icons">
            <img src="./assets/img/icons/linkedin.svg" alt="linkedin" class="icons-footer">
        </a>
        <a href="mailto:salvador.sol.ssi.13@gmail.com" target="_blank" rel="noreferrer" class="cursor-border email icons">
            <img src="./assets/img/icons/mailto.svg" alt="Send me an email" class="icons-footer">
        </a>
    </div>
</footer>