<footer>
    <div class="social-media">
        <a href="https://github.com/ixshel" target="_blank" rel="noreferrer" class="cursor-border icons">
            <img src="./assets/img/icons/github.svg" alt="github" class="icons-footer">
        </a>
        <a href="http://www.linkedin.com/in/ixshelescamilla" target="_blank" rel="noreferrer" class="cursor-border icons">
            <img src="./assets/img/icons/linkedin.svg" alt="linkedin" class="icons-footer">
        </a>
        <a href="mailto:iamixshel@gmail.com" target="_blank" rel="noreferrer" class="cursor-border email icons">
            <img src="./assets/img/icons/mailto.svg" alt="Send me an email" class="icons-footer">
        </a>
    </div>
</footer>