<footer>
    <div class="social-media">
        <a href="https://github.com/SalusSole" target="_blank" class="cursor-border icons">
            <img src="../assets/img/icons/github.svg">
        </a>
        <a href="https://www.linkedin.com/in/salvador-solis-6b046b204" target="_blank" class="cursor-border icons">
            <img src="../assets/img/icons/linkedin.svg">
        </a>
        <a href="mailto:salvador.sol.ssi.13@gmail.com" class="cursor-border email">salvador.sol.ssi.13@gmail.com</a>
    </div>
</footer>