<div class="container">
    <div class="home">
        <div class="title">
            <h1>
                <p class="line anim-typewriter">Hello World!</p>
            </h1>
        </div>
        <div class="subtitle overflow">
            <h2 class="text-bottom-to-top-all-3500ms">Software Development</h2>
        </div>

        <p id="text-p">
            Software development from Redlands, California. Software development made for you, lets talk about your ideas, your vision, your dreams.
            We love to create captivating digital products and keep you in constant growth.
            <span>
                Find more <a [routerLink]="['/about']" class="cursor-border">about me</a>
            </span>
        </p>
        
        <div class="profile-image">
            <img src="./assets/img/xx.webp" alt="Redlands Development">
        </div>
        
        <a [routerLink]="['/contact']" id="btn-contact" class="btn-pink cursor-border btn">
            CONTACT ME
        </a>
        <a id="btn-download-cv" class="btn-blue cursor-border btn" (click)="downloadPdf.downloadPdf()">
            Download CV
        </a>
    </div>
</div>
<app-footer></app-footer>