<div class="container">
    <div class="home">
        <div class="title">
            <h1>
                <p class="line anim-typewriter">Hello World! I'm Salvador</p>
            </h1>
        </div>
        <div class="subtitle overflow">
            <h2 class="text-bottom-to-top-all-3500ms">Passionate Developer</h2>
        </div>

        <p id="text-p">
            I'm a web developer from Guadalajara, Jalisco. I'm 19 years old and I studied the career of software development at the Centro de Enseñanza Técnica Industrial.
            My love of creating captivating digital content began when I was in the fifth semester of my career and since then I have not stopped learning. But it doesn't end there, as I have a great desire to use my knowledge in the work area and allways keep learning.
            <span>
                Find more <a [routerLink]="['/about']" class="cursor-border">about me</a>
            </span>
        </p>
        
        <div class="profile-image">
            <img src="./assets/img/me-one.webp" alt="Salvador Solis">
        </div>
        
        <a [routerLink]="['/contact']" id="btn-contact" class="btn-pink cursor-border">
            CONTACT ME
        </a>
    </div>
</div>
<app-footer></app-footer>